<mat-card>
  <mat-card-subtitle>
    Global Counter
  </mat-card-subtitle>

  <mat-card-title>
    Value: {{ counterValue$ | async }}
  </mat-card-title>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <div>
      Last Update: {{ updatedAt$ | async }}
    </div>

    <div>
      Formatted Update: {{ formattedUpdatedAt$ | async }}
    </div>


    <button (click)="incrementHandler()"
            mat-raised-button
            color="primary">
      Increment
    </button>
  </mat-card-actions>
</mat-card>
