<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-accordion>

      <mat-expansion-panel *ngFor="let section of menuSections">
        <mat-expansion-panel-header class="p-4">
          <mat-panel-title>
            <mat-icon aria-hidden="false"
                      [attr.aria-label]="section.title">
              {{section.icon.value}}
            </mat-icon>
            <span>{{section.title}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a *ngFor="let link of section.routes"
             [routerLink]="[link.url]"
             mat-list-item>{{link.text}}</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ngxs-workshop</span>
    </mat-toolbar>

    <div class="flex">
      <div class="w-full relative">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
